@import url(http://fonts.googleapis.com/css?family=Lato);

.ddsubmenustyle, .ddsubmenustyle div
{font-family: 'Lato', sans-serif; font-size:13px; margin: 0; padding: 0; position: absolute; left: 0; top: 0; list-style-type: none; background: white; border: 1px solid black; border-bottom-width: 0; visibility: hidden; z-index: 100;}
.ddsubmenustyle ul{margin: 0; padding: 0; position: absolute; left: 0; top: 0; list-style-type: none; border: 0px none;}
.ddsubmenustyle li a{display: block; width: 170px; /*width of menu (not including side paddings)*/ color: black; background-color: lightyellow; text-decoration: none; padding: 4px 5px; border-bottom: 1px solid black;}
* html .ddsubmenustyle li{display: inline-block; width: 170px;}
.ddsubmenustyle li a:hover{background-color: black; color: white;}
.downarrowpointer{padding-left: 4px; border: 0;}
.rightarrowpointer{ position: absolute; padding-top: 3px; left: 100px; border: 0;}
.ddiframeshim{ position: absolute; z-index: 500; background: transparent; border-width: 0; width: 0; height: 0; display: block;}