@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td , ul, li, img
{margin: 0; padding:0; border: 0; outline: 0;}

body{ width:100%; height:100%; background-image:url(../images/background_bg.jpg); background-repeat:repeat-x;}
.main_container{ clear:both; margin:auto; width:100%; height:auto;}


.header_container{ margin:auto; clear:both; width:980px; height:180px; margin-top:8px;}

.logo_div{ float:left; width:601px; height:142px;}
.social_icons{ float:right; width:270px; height:80px; margin-top:22px;}
.social_icons table{font-family: 'Roboto', sans-serif; font-size:14px; color:#333;}

.menu{ clear:both; float:left; width:980px; height:38px; background-color:#0F9}

.slide_div{ clear:both; width:100%; height:460px; background-image:url(../images/slider/slide_01.jpg);}


.result_div{ margin:auto; clear:both; width:980px; height:100px;}

.resultbox1_div{ float:left; width:326px; height:100px; background-color:#205ba1; background-image:url(../images/box1_img.jpg); background-repeat:no-repeat; background-position: 2% 50%;}
.resultbox1_div p{font-family: 'Roboto', sans-serif; font-size:18px; color:#FFF; text-align:left; margin-left:70px; margin-top:23px; cursor: pointer;}
.resultbox2_div{ float:left; margin-left:1px; width:326px; height:100px; background-color:#009a49;  background-image:url(../images/box2_img.jpg); background-repeat:no-repeat; background-position: 2% 50%;}
.resultbox2_div p{ font-family: 'Roboto', sans-serif; font-size:18px; color:#FFF; text-align:left; margin-left:70px;  margin-top:23px; cursor: pointer;}
.resultbox3_div{ float:right; width:326px; height:100px; background-color:#f27800;  background-image:url(../images/box3_img.jpg); background-repeat:no-repeat; background-position: 2% 50%;}
.resultbox3_div p{font-family: 'Roboto', sans-serif; font-size:18px; color:#FFF; text-align:left; margin-left:70px;  margin-top:23px; cursor: pointer;}
.readmore_btn{ float:right; width:73px; height:21px; background-color:#F90; margin-right:10px;}


.twobox_div{ margin:auto; clear:both; width:980px; height:200px; margin-top:20px;}
.welcom_div{ float:left; width:695px; height:200px;}
.welcom_div img{ float:left; margin-right:10px;}
.welcom_div h2{ float:left; width:440px; text-align:left; text-transform:uppercase; font-family: 'Droid Sans', sans-serif; font-size:22px; font-weight:bold;}
.welcom_div p{ text-align:left; color:#666666;}
.welcom_div span{ color:#912c2e;}


.news_div{ float:right; width:275px; height:150px; background-color:#E4E4E4;}
.news_div h3{ float:left; margin-left:15px; margin-top:15px; cursor:pointer; }
.news_div a{ color:#000}
.news_div a:hover{ color:#F00}



.fourbox_div{ margin:auto; clear:both; width:980px; height:200px;}
.boxs_div{ float:left; width:245px; height:200px;}
.boxs_div h2{ float:left; text-align:left; text-transform:uppercase; font-family: 'Droid Sans', sans-serif; font-size:18px; color:#333; font-weight:bold; margin-left:10px; margin-top:10px; width:100%; margin-bottom:10px;}

.boxs_div ul { float:left; clear:both; text-align:left; padding:0px; margin:0px; margin-top:0x; padding-left:10px; line-height:18px; list-style-type:none;}
.boxs_div li { padding-left:10px; font-family: 'Roboto', sans-serif; font-size:13px; color:#666666; background:transparent url(../images/bullets.jpg) no-repeat; background-position:0 7px;}

.boxs_div p{font-family: 'Roboto', sans-serif; font-size:13px; color:#666666; text-align:left; margin-left:10px;}


/*inner page */
.page_title{ clear:both; width:700px; height:40px; border-bottom: solid 1px #c5c5c5; margin-bottom:12px;}
.page_title h2{font-family: 'Droid Sans', sans-serif; font-size:22px; color:#902c2e; font-weight:bold; text-align:left; padding-top:6px}

.innerpage_container{ clear:both; margin:auto; width:980px; height:auto;}

/*inner left*/
.innerleft_div{ float:left; width:700px; height:auto; padding-bottom:20px;}
.innerleft_div h3{clear:both; float:left; font-family: 'Droid Sans', sans-serif; font-size:18px; color:#333333; margin-top:10px;}
.innerleft_div p{ clear:both; float:left; font-family: 'Roboto', sans-serif; font-size:13px; text-align:left; margin-bottom:10px; margin-top:0px; line-height:20px;}
.innerleft_div h4{clear:both; float:left; font-family: 'Droid Sans', sans-serif; font-size:14px; color:#902c2e; margin-top:5px;}
.innerleft_div ul { clear:both; float:left; text-align:left; padding:0px; margin:0px; margin-top:0x; padding-left:0px; line-height:20px; list-style-type:none; color:#6B6B6B;}
.innerleft_div li { padding-left:10px; font-family: 'Roboto', sans-serif; font-size:13px; background:transparent url(../images/bullets.jpg) no-repeat; background-position:0 7px; color:#333333;}

.innerbox_div{float:left; width:680px; height:auto; background-color:#f4e5e5; padding-top:10px; padding-bottom:10px; padding-left:10px;}


.CSSTableGenerator { float:left; margin:0px;padding:0px; width:100%; border:1px solid #b8b8b8; }
.CSSTableGenerator table{ border-collapse: collapse; border-spacing: 0; width:100%; height:100%; margin:0px;padding:0px;}
.CSSTableGenerator tr:nth-child(odd){ background-color:#f4e5e5; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }
.CSSTableGenerator td{ vertical-align:middle; border:1px solid #000000; border-width:0px 1px 1px 0px; text-align:left; padding:5px; font-size:13px; font-family: 'Roboto', sans-serif; color:#000000;}
.CSSTableGenerator tr:last-child td{ border-width:0px 1px 0px 0px;}
.CSSTableGenerator tr td:last-child{ border-width:0px 0px 1px 0px;}
.CSSTableGenerator tr:last-child td:last-child{ border-width:0px 0px 0px 0px;}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #e57812 5%, #e57812 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e57812), color-stop(1, #e57812) );
	background:-moz-linear-gradient( center top, #e57812 5%, #e57812 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e57812", endColorstr="#e57812");	background: -o-linear-gradient(top,#e57812,e57812);
	background-color:#e57812; border:0px solid #000000; text-align:center; border-width:0px 0px 0px 0px; font-size:14px; font-family: 'Roboto', sans-serif; font-weight:bold; color:#ffffff;}



.CSSTablefaculties { float:left; margin:0px;padding:0px; width:100%; border:1px solid #b8b8b8; }
.CSSTablefaculties table{ border-collapse: collapse; border-spacing: 0; width:100%; height:100%; margin:0px;padding:0px;}
.CSSTablefaculties tr:nth-child(odd){ background-color:#f4e5e5; }
.CSSTablefaculties tr:nth-child(even)    { background-color:#fff; }
.CSSTablefaculties td{ vertical-align:middle; border:1px solid #e5e4e4; border-width:0px 1px 1px 0px; text-align:left; padding:5px; font-size:13px; font-family: 'Roboto', sans-serif; color:#000000;}
.CSSTablefaculties tr:last-child td{ border-width:0px 1px 0px 0px;}
.CSSTablefaculties tr td:last-child{ border-width:0px 0px 1px 0px;}
.CSSTablefaculties tr:last-child td:last-child{ border-width:0px 0px 0px 0px;}
.CSSTablefaculties tr:first-child td{
		background:-o-linear-gradient(bottom, #666666 5%, #666666 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #666666) );
	background:-moz-linear-gradient( center top, #666666 5%, #666666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#666666");	background: -o-linear-gradient(top,#666666,666666);
	background-color:#666666; border:0px solid #000000; text-align:center; border-width:0px 0px 0px 0px; font-size:14px; font-family: 'Roboto', sans-serif; font-weight:bold; color:#ffffff;}




/*inner right*/
.innerright_div{ float:right; width:270px; height:auto; background-color:#F36}





/*footer*/
.footer_container{ clear:both; width:100%; height:180px; background-image:url(../images/footer_bg.jpg); background-repeat:repeat-x;}
.footer_div{ margin:auto; width:980px; height:180px;}
.footer_menu{ clear:both; width:980px; height:46px;}
.footer_menu ul{ float:left; }
.footer_menu li{ display:inline;  text-transform:uppercase; font-family: 'Roboto', sans-serif; font-size:14px; color:#FFF; margin-right:13px; margin-left:13px; position:relative; top:10px;}
.footer_menu a{ color:#FFF; text-decoration:none;}
.footer_menu a:hover{ color:#f1cf77; text-decoration:none;}

.footeraddress_div{ float:left; width:500px; height:104px; background-image:url(../images/footer_logo.jpg); background-repeat:no-repeat; background-position:0% 50%}
.footeraddress_div p{ float:left; text-align:left; color:#FFF; margin-left:110px; margin-top:10px; line-height:20px; font-family: 'Roboto', sans-serif; font-size:13px;}

.footercopy_div{ float:right; width:350px; height:50px; margin-top:60px;}
.footercopy_div p{ text-align:right; font-family: 'Roboto', sans-serif; font-size:13px; color:#fff;}


/*footer*/


/*gallery page*/
.gallery_div{ width:700px; height:auto;}
.image_container{ float:left; width:223px; height:270px; margin-right:10px;}
.image_container img{ width:223px; height:223px;}
.image_container h2{ font-size:16px; margin-top:6px;}

.back_div{ float:right; height:30px; width:45px;}
.back_div p{ text-align:center; font-size:14px; margin-top:12px;}
.back_div a{ color:#333}