body{margin:0;padding:0;text-align:center;font-family:Arial, Verdana, sans-serif;font-size:10pt;color:#333;  position:relative;}

.spacer{clear:both;}
.cl { clear: both; height: 0; font-size: 0; line-height: 0; text-indent: -4000px;  }
img{border:none; }

a{color:blue;text-decoration:none;}
a:hover,
.jps a:hover{text-decoration:none;}
a:active,
.jps a:active{color:orangeRed}
a:focus{}
a:visited{}



ul{margin:0 0 10px 0;padding:0;list-style:disc inside none;}
ul li{margin:0 0 5px;}


.noscript{margin:10px 0 15px;padding:10px;color:#fff;background:red;}

#page ul{margin:10px 0 10px 15px;}

#page, #content{ height:100%; position:relative;}

#page .jps ul,
#page .customtabs ul{margin:0; list-style:none;}




.jps{display:none;position:relative;overflow:hidden;text-align:left; width:100%!important; }
.jps a,
.jps a:hover{text-decoration:none; display:block;}
.jps a:focus{outline:1px dotted #000;/*optional*/}
.jps img{border:0; width:100%; height:460px; }

/*---------------------------------
 *  Navigation
 *---------------------------------*/
.jps .jps-nav{z-index:10;position:absolute;text-align:center;}

/* Nav > Clip */
.jps .jps-nav-clip{position:absolute; margin:0 auto;}
.jps .jps-nav-clip ul{position:relative; left:0; top:570px; z-index: 1000;list-style:none;margin:0;padding:0;}
.jps .jps-nav-clip ul li{float:left;}
.jps .jps-nav-clip ul li a{display:block;overflow:hidden;}

/*---------------------------------
 *  Buttons
 *---------------------------------*/
.jps .jps-btn{z-index:10;}

/*---------------------------------
 *  Panels
 *---------------------------------*/
.jps .jps-panel{z-index:1;position:absolute; top:0; left:0; width:100%;}
.jps .jps-panel-active{z-index:5;}
.jps .jps-panel-old{z-index:4;}

/* Panels > Overlay */
.jps .jps-panel .jps-panel-textbox{position:absolute;z-index:1;}
.jps .jps-panel .jps-panel-text{position:absolute;z-index:3;top:0;left:0;}
.jps .jps-panel .jps-panel-overlay{position:absolute;z-index:2;top:0;left:0;}


/*---------------------------------
 *  Loader
 *---------------------------------*/


.contentslider-std { }
.contentslider-std .jps-panels{width:100%; display: block; height:100%; overflow:hidden; }


/* Panels buttons */
.contentslider-std .jps-go-btn {  color: #FFFFFF; cursor: pointer; font-size: 50px; font-weight: normal; height: 58px; }
.contentslider-std .jps-go-btn{position: absolute; text-align: center; top: 50%; width: 58px; line-height: 58px; margin-top: -29px; }
.contentslider-std .jps-go-prev{left:-58px; }
.contentslider-std .jps-go-next{right:-58px; }
.contentslider-std .jps-go-btn a{border-radius:solid 1px #000;}
.contentslider-std .jps-go-prev a{display: block; width:58px; height:58px; background:url(../../images/slider/left.png)no-repeat center center;}
.contentslider-std .jps-go-prev a{margin:0 auto 0 auto; font-size:0; line-height:0; text-indent:-4000px;}
.contentslider-std .jps-go-next a{display: block; width:58px; height:58px; background:url(../../images/slider/right.png) no-repeat center center; }
.contentslider-std .jps-go-next a {margin:0 auto 0 auto; font-size:0; line-height:0; text-indent:-4000px; }
.contentslider-std .jps-go-prev a:hover{}
.contentslider-std .jps-go-next a:hover{}
.contentslider-std .jps-go-btn span{display:none;}




/* -------------------------------  Media Query Max Width 1300, Min Width 720 ------------------------------- */



@media only screen and (min-width:720px) and (max-width: 1300px) {

    .description { top:30%; width:50%;}
    .description h2 { font-size:21px; margin:0; }
    .description p {  font-size:13px; line-height:15px;}
	.contentslider-std .jps-go-prev a{ width:55px; }
	.contentslider-std .jps-go-next a{  width:55px;}
	.contentslider-std .jps-go-btn { width:55px;}
	.jps-go-next strong, .jps-go-prev strong{ width:125px; height:73px;   top:-10px;}
	.jps-go-next strong{ right:61px}
	.jps-go-prev strong{ left:61px}

}

/* -------------------------------  Media Query Max Width 719 ------------------------------- */

@media only screen and (max-width:719px) {

    .description { display:none; }
	.contentslider-std .jps-go-prev a{ width:35px; height:35px; background:#000 url(../images/l-arr-sm.png) no-repeat 12px center; }
	.contentslider-std .jps-go-next a{  width:35px; height:35px; background:#000 url(../images/r-arr-sm.png) no-repeat 15px center; }
	.contentslider-std .jps-go-btn { width:35px; line-height:35px; height:35px;}
	.jps-go-next strong, .jps-go-prev strong{ width:110px; height:64px;}
	.jps-go-next strong{ right:36px;}
	.jps-go-prev strong{ left:36px;}

}
